<!-- search_produtos.handlebars -->
<div class="container">
  <div>
    <!-- Search form -->
    <form class="form-inline mb-3" style="width: 50%;" action="/venda/procurarProduto" method="POST">
      <input type="hidden" name="idVenda" value="{{venda.id}}">
      <div class="form-group row">
        <label for="nomeProduto">Pesquisar Produto</label>
        <div class="col">
          <input type="text" class="form-control mb-2" name="nomeProduto" placeholder="Digite o nome do Produto">
        </div>
        <div class="col">
          <button class="btn btn-primary col" type="submit">Procurar</button>
        </div>
      </div>
    </form>

    <!-- Products list -->
    {{#if produtos.length}}
    <div class="card mb-3" style="width: 50%">
      <div class="card-header">Produtos encontrados</div>
      <table id="tabela" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Valor Unitário</th>
            <th>Qtd.</th>
            <th>  </th>
          </tr>
        </thead>
        <tbody>
          {{#each produtos}}
          <form action="/venda/addProduto" method="POST">
            <tr>
              <td>{{this.id}}</td>
              <td>{{this.nomeProduto}}</td>
              <td>{{this.valorUnitario}}</td>
              <td><input type="number" name="qtd" value="1"></td>
              <td>
                <span class="actions">
                  <input type="hidden" name="id" value={{this.id}}>
                  <button type="submit" data-toggle="tooltip" data-placement="top" data-title="Adicionar ao carrinho">
                    <i class="bi bi-plus-circle" id="add"></i>
                  </button>
          </form>
          </span>
          </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      {{else}}
      <p>Produto não encontrado</p>
    </div>
    {{/if}}
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Carrinho</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Subtotal: R$ {{vendaAtiva.valorTotal}}</h6>
      {{!-- <ul class="list-group list-group-flush">
        {{#each vendaProduto}}
        <li class="list-group-item">{{produto.nomeProduto}} - {{quantidade}} - R$ {{valorUnitario}}</li>
        {{/each}}
      </ul> --}}
      <a href="/venda/finalizar" class="btn btn-success">Finalizar Venda</a>
      <a href="/venda/cancelar" class="btn btn-danger">Cancelar</a>
    </div>
  </div>
</div>


<!-- Script to handle the add to sale button click event -->
<script>
  function aumentarQtd(id) {
    // Get the elemento by ID
    let elemento = document.getElementById(id);

    // Check if the elemento exists
    if (elemento) {
      // Get the current value and increment it
      let currentValue = 1;
      let newValue = currentValue + 1;

      // Set the new value on the elemento
      elemento.value = newValue;
    }
  }
</script>