<title>Editar Cliente #{{cliente.id}}</title>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper" style="max-width: 600px; margin: auto;">
            <div class="table-title">
                <div class="row">
                    <div class="col-mb-3">
                        <h4>Editar Cliente</h4>
                    </div>
                </div>
            </div>

            <form action="/cliente/editarPost" method="POST">
                <input type="hidden" name="id" value={{cliente.id}}>
            <div class="form-control">
                <<div class="mb-3">
                    <label for="tipo" class="form-label">Tipo (F ou J)*</label>
                    <input type="text" class="form-control" name="tipo" placeholder="Pessoa física ou jurídica" value={{cliente.tipo}} required>
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome/Razao Social*</label>
                    <input type="text" class="form-control" name="nome" placeholder="Ex: Cliente LTDA" value={{cliente.nome}} required>
                </div>
                <div class="mb-3">
                    <label for="cpfCnpj" class="form-label">CPF/CNPJ*</label>
                    <input type="text" class="form-control" name="cpfCnpj" placeholder="Ex: 12345678000123" value={{cliente.cpfCnpj}} required>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone*</label>
                    <input type="text" class="form-control" name="telefone" placeholder="Ex: 4712345678" value={{cliente.telefone}}  required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Ex: joao@joao.com" value={{cliente.email}} >
                </div>
                <div class="mb-3">
                    <label for="rua" class="form-label">Rua</label>
                    <input type="text" class="form-control" name="rua" placeholder="Ex: Rua João da Silva" value={{cliente.rua}} >
                </div>
                <div class="mb-3">
                    <label for="numeroCasa" class="form-label">nº</label>
                    <input type="text" class="form-control" name="numeroCasa" placeholder="Ex: 123" value={{cliente.numeroCasa}} >
                </div>
                <div class="mb-3">
                    <label for="complemento" class="form-label">Complemento</label>
                    <input type="text" class="form-control" name="complemento" placeholder="Ex: Apt 3" value={{cliente.complemento}} >
                </div>
                <div class="mb-3">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input type="text" class="form-control" name="bairro" placeholder="Ex: Vila Pinto" value={{cliente.bairro}} >
                </div>
                <div class="mb-3">
                    <label for="cidade" class="form-label">Bairro</label>
                    <input type="text" class="form-control" name="cidade" placeholder="Ex: São Crispim do Pau Fincado" value={{cliente.cidade}} >
                </div>
                <div class="mb-3">
                    <label for="uf" class="form-label">UF</label>
                    <input type="text" class="form-control" name="uf" placeholder="Ex: PR" value={{cliente.uf}} >
                </div>
                <center>
                <button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill"></i> Salvar</button>
                <a href="/cliente" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i> Cancelar</a>
                </center>
            </div>
            </form>
        </div>
    </div>
</div>